* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.head {
	background-image: url('./../images/bg.jpg');
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	/*height: 40vh;
  	display: flex;
	align-content: center;
	justify-content: center;*/
}

/*.jumbotron {
	background-image: url('../images/bg.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}*/

.navbar {
	background-color: #284B63;
}

.navbar a {
	color: #FFFFFF;
}

.navbar .navbar-toggler-icon {
	color: #FFFFFF;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #3C6E71;
}

.editButton, .register, .login {
	background-color: #407076;
	color: #fff;
	border-color: #407076
}

.jumbotron .btn {
	background-color: #1a535c;
	color: #fff;
	border-color: #1a535c;
}

.signup, .log-in, .changePass {
	color: #006d77;
}

.add-course, .submitbtn, .createBtn {
	background-color: #003153;
	border-color: #003153;
}

.archiveButton {
	background-color: #e07a5f;
	border-color: #e07a5f;
}

.viewButton {
	background-color: #4c956c;
	border-color: #4c956c;
}

.reactivateButton {
	background-color: #f7b267;
	border-color: #f7b267;
	color: black;
}

.selectButton {
	background-color: #549DA0;
	border-color: #549DA0;
}

.navbar-brand {
	font-family: 'Zilla Slab', serif;
}

.dangerButton {
	background-color: #bf4342;
	border-color: #bf4342
}


.editButton:hover {
	opacity: 0.6;
	background-color: #407076;
	border-color: #407076;
}

.register:hover {
	opacity: 0.6;
	background-color: #407076;
	border-color: #407076;
}

.login:hover {
	opacity: 0.6;
	background-color: #407076;
	border-color: #407076;
}

.jumbotron .btn:hover {
	opacity: 0.6;
	background-color: #1a535c;
	border-color: #1a535c;
}

.add-course:hover {
	opacity: 0.6;
	background-color: #003153;
	border-color: #003153;
} 

.submitbtn:hover {
	opacity: 0.6;
	background-color: #003153;
	border-color: #003153;
}

.archiveButton:hover {
	opacity: 0.6;
	background-color: #e07a5f;
	border-color: #e07a5f;
}

.viewButton:hover {
	opacity: 0.6;
	background-color: #4c956c;
	border-color: #4c956c;
}

.reactivateButton:hover {
	opacity: 0.6;
	background-color: #f7b267;
	border-color: #f7b267;
}

.selectButton:hover {
	opacity: 0.6
	background-color: #549DA0;
	border-color: #549DA0;
}

.createBtn:hover {
	opacity: 0.6;
	background-color: #003153;
	border-color: #003153;
}

.dangerButton:hover {
	opacity: 0.6;
	background-color: #bf4342;
	border-color: #bf4342;
}

body {
	background-color: #b3d1ba;
	background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
}

.row {
	padding-bottom: 40px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

